<div class="mui-tab-panel">
    <table class="mui-table">
        <colgroup>
            <col width="20%">
            <col width="80%">
        </colgroup>
        <thead>
        <tr>
            <th>字段名称</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label class="mui-form-label" for="customName">Name</label></td>
            <td>
                <input class="mui-form-text" id="customName" type="text"
                       ng-model="name" ng-init="name='名称'">
                <span class="mui-form-tip">Name值可自动生成</span>
            </td>
        </tr>
        <tr>
            <td><label class="mui-form-label" for="customGroup"><em class="mui-form-req">*</em>Group</label></td>
            <td>
                <input class="mui-form-text" id="customGroup" type="text"
                       ng-model="group"
                       ng-init="group='分组'"
                       required/>
                <div class="mui-form-valid" ng-show="!group">
                    <div class="mui-msg mui-msg-red mui-form-msg">
                        <div class="mui-msg-con mui-msg-error">group不能为空<s class="mui-msg-icon"></s>
                        </div>
                        <s class="mui-msg-arrow mui-msg-arrow-top"></s>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="mui-form-label" for="customTitle"><em class="mui-form-req">*</em>Title</label></td>
            <td>
                <input class="mui-form-text" id="customTitle" type="text"
                       ng-model="title"
                       ng-init="title='标题'"/>
                <div class="mui-form-valid" ng-show="!title">
                    <div class="mui-msg mui-msg-red mui-form-msg">
                        <div class="mui-msg-con mui-msg-error">title不能为空<s class="mui-msg-icon"></s>
                        </div>
                        <s class="mui-msg-arrow mui-msg-arrow-top"></s>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="mui-form-label"><em class="mui-form-req">*</em>Fields</label>
            </td>
            <td ng-controller="customFieldsListCtrl">
                            <span class="fieldsType mui-btn-m"
                                  ng-init="fieldsList=[]"
                                  ng-class="{current:$index===selectIndex}"
                                  ng-click="showFieldsKeys($index);"
                                  ng-repeat="item in data">{{item.name}}</span>
                <div class="fieldsPanel" ng-show="fields">
                    <div class="fieldsPanel-box">
                        <div class="fieldsPanel-layout">
                                        <span class="cli-fields-keys"
                                              ng-repeat="sub in fields"
                                              ng-class="{current:sub.checked}"
                                              ng-click="checkField(sub.checked);">{{sub.name}}</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="mui-form-label" for="customRow"><em class="mui-form-req">*</em>Row</label></td>
            <td>
                <input class="mui-form-text" id="customRow" type="number"
                       min="1"
                       required
                       ng-model="row"
                       ng-init="row=1"/>
                <div class="mui-form-valid" ng-show="!row">
                    <div class="mui-msg mui-msg-red mui-form-msg">
                        <div class="mui-msg-con mui-msg-error">row不能为空和非数字格式<s class="mui-msg-icon"></s>
                        </div>
                        <s class="mui-msg-arrow mui-msg-arrow-top"></s>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="mui-form-label" for="customDefaultRow"><em class="mui-form-req">*</em>DefaultRow</label></td>
            <td>
                <input class="mui-form-text" id="customDefaultRow" type="number" min="1"
                       required
                       ng-model="defaultRow"
                       ng-init="defaultRow=1"/>
                <div class="mui-form-valid" ng-show="!defaultRow">
                    <div class="mui-msg mui-msg-red mui-form-msg">
                        <div class="mui-msg-con mui-msg-error">defaultRow不能为空和非数字格式<s class="mui-msg-icon"></s>
                        </div>
                        <s class="mui-msg-arrow mui-msg-arrow-top"></s>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>